.container {
    padding: 25px 0px 15px 10px;
    border: 1px solid lightgray;
    width: 35rem;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.article_title {
    font-size: 1.6rem;
    margin: 0px;
}
.article_container p {
    padding: 5px 5px 5px 5px;
}
.container {
    display: flex;
}
.header img {
    border-radius: 50%;
}
.article_writer {
    font-size: 1rem;
    color: rgb(155, 154, 154);
    font-family: Arial, Helvetica, sans-serif;
}
.article_container p {
    margin: 0rem;
}
ul {
    list-style: none;
}
.likes_comments {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    color: rgb(155, 154, 154);
    position: relative;
    right: 30px;
    left: -30px;
}
.likes_comments span {
    padding-left: 22rem;
}
.likes_comments button {
    background-color: dodgerblue;
    color: white;
    border-radius: 15%;
    border-color: dodgerblue;
    width: 50px;
    height: 35px;
}
.likes_comments p {
    padding-left: 0px;
}
.hashtag {
    font-family: Arial, Helvetica, sans-serif;
}
